body {
    padding-top: 50px;
}

.board {
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
}

.field {
    float:left;
    width: 30%;
    padding-bottom: 30%; /* = width for a 1:1 aspect ratio */
    margin:0.5%;
    background-color: #222222;

    display: table;
    overflow: hidden;
}

.inner {
    display: table-cell;
    vertical-align: middle;
}


.field:hover {
    background-color: lightgreen;
    color: lightgray;
}

